@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #151d23;
}

::-webkit-scrollbar-thumb {
  background: #dde1e4;
  border-radius: 100vh;
  border: 3px solid bg-base-neutral;
}

::-webkit-scrollbar-thumb:hover {
  background: #dde1e4;
}

.p-toast {
  max-width: calc(100vw - 40px);
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  border: 0px;
}

.p-accordion .p-accordion-content {
  border: 0px;
}

.p-accordion .p-accordion-tab {
  margin-bottom: 12px;
}
